{
  "license": {
    "accept": true
  }

  "input": {
    "appName": ${APP_NAME}
    "streamName": ${STREAM_RAW}
    "initialPosition": { type: "TRIM_HORIZON" }
    "customEndpoint": ${LOCALSTACK_ENDPOINT}
    "dynamodbCustomEndpoint": ${LOCALSTACK_ENDPOINT}
    "cloudwatchCustomEndpoint": ${LOCALSTACK_ENDPOINT}
  }

  "output": {
    "enriched": {
      "streamName": ${STREAM_ENRICHED}
      "customEndpoint": ${LOCALSTACK_ENDPOINT}
    }

    "failed": {
      "streamName": ${STREAM_FAILED}
      "customEndpoint": ${LOCALSTACK_ENDPOINT}
    }

    "bad": {
      "streamName": ${STREAM_BAD}
      "customEndpoint": ${LOCALSTACK_ENDPOINT}
    }
  }

  "monitoring": {
    "metrics": {
      "statsd": {
        "hostname": statsd
        "port": 8125
        "period": "10 seconds"
        "tags": {
          "env": ${STATSD_TAG}
        }
        "prefix": "snowplow.enrich."
      }
    }
  }

  "telemetry": {
    "disable": true
  }
}
