{
  "license": {
    "accept": true
  }

  "input": {
    "topicName": "snowplow-collector-payloads"
    "bootstrapServers": "localhost:9092"
  }

  "output": {
    "good": {
      "topicName": "snowplow-enriched"
      "bootstrapServers": "localhost:9092"
    }

    "bad": {
      "topicName": "snowplow-bad"
      "bootstrapServers": "localhost:9092"
    }
  }

  "blobClients": {
    "accounts": [
      { "name": "storageAccount1"}
    ]
  }
}
