{
  "license" {
    "accept": true
  }

  "input": {
    "topic": ${INPUT_TOPIC}
    "channel": "EnrichNsqChannel"
    "lookupHost": ${LOOKUP_HOST}
    "lookupPort": ${LOOKUP_PORT}
  }

  "output": {
    "good": {
      "topic": ${GOOD_OUTPUT_TOPIC}
      "nsqdHost": ${NSQD_HOST}
      "nsqdPort": ${NSQD_PORT}
    }

    "failed": {
      "topic": ${FAILED_OUTPUT_TOPIC}
      "nsqdHost": ${NSQD_HOST}
      "nsqdPort": ${NSQD_PORT}
    }

    "bad": {
      "topic": ${BAD_OUTPUT_TOPIC}
      "nsqdHost": ${NSQD_HOST}
      "nsqdPort": ${NSQD_PORT}
    }
  }

  "telemetry": {
    "disable": true
  }
}